
## <summary>policy for bicoscoin</summary>


########################################
## <summary>
##	Transition to bicoscoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bicoscoin_domtrans',`
	gen_require(`
		type bicoscoin_t, bicoscoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bicoscoin_exec_t, bicoscoin_t)
')


########################################
## <summary>
##	Execute bicoscoin server in the bicoscoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bicoscoin_initrc_domtrans',`
	gen_require(`
		type bicoscoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bicoscoin_initrc_exec_t)
')


########################################
## <summary>
##	Search bicoscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bicoscoin_search_lib',`
	gen_require(`
		type bicoscoin_var_lib_t;
	')

	allow $1 bicoscoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bicoscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bicoscoin_read_lib_files',`
	gen_require(`
		type bicoscoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bicoscoin_var_lib_t, bicoscoin_var_lib_t)
')

########################################
## <summary>
##	Manage bicoscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bicoscoin_manage_lib_files',`
	gen_require(`
		type bicoscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bicoscoin_var_lib_t, bicoscoin_var_lib_t)
')

########################################
## <summary>
##	Manage bicoscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bicoscoin_manage_lib_dirs',`
	gen_require(`
		type bicoscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bicoscoin_var_lib_t, bicoscoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bicoscoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bicoscoin_admin',`
	gen_require(`
		type bicoscoin_t;
		type bicoscoin_initrc_exec_t;
		type bicoscoin_var_lib_t;
	')

	allow $1 bicoscoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, bicoscoin_t)

	bicoscoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bicoscoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bicoscoin_var_lib_t)

')

